.flash-card {
  width: 420px;
  height: 266px;
  background: #f1f1f1;
  border-radius: 5px;
  margin: auto;
  margin-top: 60px;
  padding: 40px;
}

.question {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 26px;
  min-height: 80px;
}

.answer-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.answer {
  background: #dcdcdc;
  border: none;
  width: 170px;
  height: 36px;
  margin: 4px;
  border-radius: 17px;
  display: flex;
  align-items: center;
  padding: 0;
  padding-left: 3px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer > span {
  margin-left: 8px;
}
