.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.flash-card {
  background: #f1f1f1;
  border-radius: 16px;
  padding: 48px 48px 32px 48px;
  width: 572px;
  max-height: 370px;
  margin-right: 16px;
}

.question {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 46px;
  min-height: 140px;
  margin: 0;
  margin-bottom: 32px;
  word-wrap: break-word;
}

.answer-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.nav-button-group {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  margin-top: 24px;
}

.nav-button-group button {
  border: none;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 5px;
}

.nav-button-group button:hover {
  background: lightgrey;
  transition: 0.3s ease;
  cursor: pointer;
}

.nav-button {
  fill: none;
  fill-rule: nonzero;
  stroke: #000;
  stroke-width: 30px;
  width: 24px;
  height: 38px;
  top: 50px;
}
